<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Example Web Application</title>
    <link rel="stylesheet" type="text/css" media="screen" href="lib/angular/angular-csp.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap/css/bootstrap-reboot.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap-table/bootstrap-table.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap-select/css/bootstrap-select.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="lib/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css" />
    <script type="text/javascript" src="lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="lib/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="lib/bootstrap-select/js/bootstrap-select.js"></script>
    <script type="text/javascript" src="lib/bootstrap-datetime-picker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="script/app.js"></script>
    <script type="text/javascript" src="script/exampleController.js"></script>
</head>
<body>
    <header class="container-fluid border border-secondary p-sm-1"><h1>Example Web Application </h1></header>
    <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light border border-light p-sm-1 mr-md-3">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active border border-secondary bg-dark"><a href="index.html" class="nav-link active text-light">Home</a></li>
            <li class="nav-item border border-secondary bg-dark"><a href="git.html" class="nav-link text-light">Git cheat sheet</a></li>
            <li class="nav-item border border-secondary bg-dark"><a href="vscode.html" class="nav-link text-light">VS Code cheat sheet</a></li>
        </ul>
    </nav>
    <aside class="float-sm-right border border-secondary p-sm-1 ml-md-3">Aside from all we've discussed.</aside>
    <section class="container-fluid border border-light p-md-3">
        <div ng-app="exampleApp" ng-controller="exampleController">
            First Name: <input type="text" ng-model="firstName"><br>
            Last Name: <input type="text" ng-model="lastName"><br>
            <br>
            Full Name: {{firstName + " " + lastName}}
        </div>
    </section>
    <footer class="container-fluid border border-secondary p-sm-1 bg-secondary">It all ends with the footer.</footer>
</body>
</html>